.badger-outter
	{
	/*background:none;
    border: none;
	/*min-width: 4px;
	height: 36px;*/
	/*border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	box-shadow:0px 1px 5px #ccc;
	-moz-box-shadow:0px 1px 5px #ccc;
	-webkit-box-shadow:0px 1px 5px #ccc;*/
	float:left;
	position:absolute;
	top:-18px;
	right:-0px;
	z-index:9999;
	}
.badger-inner
	{
	/*min-width: 30px;
	height: 30px;*/
    min-width: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #f13c31;
	background: -moz-linear-gradient(100% 100% 90deg, #f13c31, #f79690);
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f79690), to(#f13c31));
  	background: -webkit-linear-gradient(#f79690, #f13c31);
    background: -o-linear-gradient(#f79690, #f13c31);
    margin:0px;
    z-index:999;
	}
.badger-badge
	{
	color:#fff;
	padding:1px 5px;
	margin:0;
	text-align:center;
	text-shadow:0px -1px 1px #e01b0f;
	z-index:999;
	}
.badger-text
	{ font-size:7px; }
.badger-number
	{ font-size:7px; }