﻿<%@ control language="VB" autoeventwireup="false" inherits="NDSGridView, App_Web_ndsgridview.ascx.43883e39" classname="NDS.NDSGridView" %>

<%@ Register Src="~/Component/AdvancedFilterComponent.ascx" TagPrefix="uc1" TagName="AdvancedFilter" %>

 <ext:Panel ID="Panel1" runat="server" Hidden="true">
            <Content>
                <uc1:AdvancedFilter runat="server" ID="AdvancedFilter1" />
            </Content>
            <Items>
            </Items>
        </ext:Panel>