﻿<%@ control language="VB" autoeventwireup="false" inherits="NDSPanelLoader, App_Web_ndspanelloader.ascx.43883e39" classname="NDS.NDSPanelLoader" %>

<ext:Panel ID="Panel1" runat="server" Layout="FitLayout" MinHeight="400" BodyStyle="width:100%;">
<%--    <Loader Url="" Mode="Frame" NoCache="true" runat="server" AutoLoad="false">
    </Loader>--%>
</ext:Panel>