﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Site1.Master" AutoEventWireup="false" CodeFile="AML_EDD_Add.aspx.vb" Inherits="AML_EDD_Add" %>

<%@ Register Assembly="Ext.Net" Namespace="Ext.Net" TagPrefix="ext" %>
<%@ Register Src="~/NDSDropDownField.ascx" TagPrefix="nds" TagName="NDSDropDownField" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <script type="text/javascript">
        var columnAutoResize = function (grid) {

            App.GridpanelView.columns.forEach(function (col) {

                if (col.xtype != 'commandcolumn') {

                    col.autoSize();
                }

            });
        };

        Ext.net.FilterHeader.behaviour.string[0].match = function (recordValue, matchValue) {
            return (Ext.net.FilterHeader.behaviour.getStrValue(recordValue) || "").indexOf(matchValue) > -1;
        };


        Ext.net.FilterHeader.behaviour.string[0].serialize = function (value) {
            return {
                type: "string",
                op: "*",
                value: value
            };
        };

        //Ext.create('Ext.window.Window', {
        //    title: 'Hello',
        //    height: 200,
        //    width: 400,
        //    layout: 'fit',
        //    items: {  // Let's put an empty grid in just to illustrate fit layout
        //        xtype: 'grid',
        //        border: false,
        //        columns: [{ header: 'World' }],                 // One header just for show. There's no data,
        //        store: Ext.create('Ext.data.ArrayStore', {}) // A dummy empty data store
        //    }
        //}).show();
        //var myForm = new Ext.window.window({
        //    width: 500,
        //    height: 400,
        //    title: 'Foo',
        //    floating: true,
        //    closable: true
        //});

        //Ext.create('Ext.form.FormPanel', {
        //    renderTo: Ext.getBody(),
        //    width: 500,
        //    frame: true,
        //    title: 'Upload a Photo',
        //    bodyPadding: 10,

        //    items: [{
        //        xtype: 'filefield',
        //        name: 'photo',
        //        fieldLabel: 'Photo',
        //        labelWidth: 50,
        //        msgTarget: 'side',
        //        allowBlank: false,
        //        anchor: '100%',
        //        buttonText: 'Select Photo...'
        //    }],

        //    buttons: [{
        //        text: 'Upload',
        //        handler: function () {
        //            var form = this.up('form').getForm();
        //            if (form.isValid()) {
        //                form.submit({
        //                    url: 'photo-upload.php',
        //                    waitMsg: 'Uploading your photo...',
        //                    success: function (fp, o) {
        //                        Ext.Msg.alert('Success', 'Your photo "' + o.result.file + '" has been uploaded.');
        //                    }
        //                });
        //            }
        //        }
        //    }]
        //});
    </script>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <ext:FormPanel ID="FormPanelInput" BodyPadding="10" runat="server" ClientIDMode="Static" Border="false" Frame="false" Layout="AnchorLayout" ButtonAlign="Center" AutoScroll="true">
        <Items>
            
            <%-- SiPendar Profile General Information --%>
            <ext:Panel runat="server" Title="General Information" Collapsible="true" Layout="AnchorLayout" AnchorHorizontal="100%" ID="pnlWATCHLIST" Border="true" BodyStyle="padding:10px" MarginSpec="0 0 10 0">
                <Content>
                    <NDS:NDSDropDownField ID="cmb_EDD_TYPE_ID" LabelWidth="200" ValueField="EDD_Type_Code" DisplayField="EDD_Type_Name" runat="server" StringField="EDD_Type_Code, EDD_Type_Name" StringTable="OneFCC_EDD_Type" Label="EDD Type" AnchorHorizontal="80%" AllowBlank="false" IsHidden="false" />
                    
                    <ext:Button ID="btn_Import_Customer" runat="server" Icon="Zoom" Text="Search Data Customer" MarginSpec="0 10 10 0" Hidden="true">
                        <DirectEvents>
                            <Click OnEvent="Btn_Import_Customer_Click">
                                <EventMask ShowMask="true" Msg="Loading Data..."></EventMask>
                            </Click>
                        </DirectEvents>
                    </ext:Button>
                     <%--<ext:TextField ID="txt_CIFNo" AllowBlank="true" LabelWidth="200" runat="server" FieldLabel="CIF" AnchorHorizontal="80%" MaxLength="50" EnforceMaxLength="true" Hidden="true" ReadOnly="true" FieldStyle="background-color: #ddd"></ext:TextField>--%> 
                    <%--<NDS:NDSDropDownField ID="nDSDropDownField_CIFNo" LabelWidth="250" ValueField="CIFNo" DisplayField="CIFNo" runat="server" StringField="CIFNo, CUSTOMERNAME, FK_AML_RISK_CODE" StringTable="AML_CUSTOMER" Label="CIF" AnchorHorizontal="80%" AllowBlank="false" IsHidden="true" OnOnValueChanged="nDSDropDownField_CIFNo_OnValueChanged"/>--%>
                    <%--<ext:ComboBox ID="comboBox_CIF" runat="server" FieldLabel="CIF" DisplayField="DESCRIPTION" ValueField="CIF" EmptyText="Pilih Salah Satu" AnchorHorizontal="80%" ForceSelection="true" 
                        AutoLoadOnValue="true" AllowBlank="false" LabelWidth ="250" Hidden="true">
                        <DirectEvents>
                            <Select OnEvent="nDSDropDownField_CIFNo_OnValueChanged"></Select>
                        </DirectEvents>
                        <Store>
                            <ext:Store runat="server" ClientIDMode="Static" ID="StoreCIF" OnReadData="CIF_readData" IsPagingStore="true" AutoLoad="false">
                                <Model>
                                    <ext:Model runat="server" ID="Model3">
                                        <Fields>
                                            <ext:ModelField Name="CIF" Type="String"></ext:ModelField>
                                            <ext:ModelField Name="DESCRIPTION" Type="String"></ext:ModelField>
                                        </Fields>
                                    </ext:Model>
                                </Model>
                                <Proxy>
                                    <ext:PageProxy>
                                    </ext:PageProxy>
                                </Proxy>
                            </ext:Store>
                        </Store>
                    </ext:ComboBox>--%>
                    
                    <ext:Panel runat="server" Layout="ColumnLayout" AnchorHorizontal="80%" ID="Panel1" Border="false">
                        <Items>
                            <ext:Panel runat="server" ColumnWidth="0.6" Border="false" Layout="AnchorLayout">
                                <Content>
                                    <ext:TextField ID="txt_CIFNo" AllowBlank="true" LabelWidth="200" runat="server" FieldLabel="CIF" AnchorHorizontal="90%" MaxLength="50" EnforceMaxLength="true" Hidden="true" ReadOnly="true" FieldStyle="background-color: #ddd"></ext:TextField> 
                                    <ext:TextField ID="txt_Nama" AllowBlank="false" LabelWidth="200" runat="server" FieldLabel="Nama" AnchorHorizontal="90%" MaxLength="250" EnforceMaxLength="true" Hidden="true" ></ext:TextField>
                                    <ext:TextField ID="customer_NIK" AllowBlank="false" LabelWidth="200" runat="server" FieldLabel="NIK" AnchorHorizontal="90%" MaxLength="25" EnforceMaxLength="true" Hidden="true" ></ext:TextField>
                                    <NDS:NDSDropDownField ID="customer_Nationality" LabelWidth="200" ValueField="FK_AML_COUNTRY_Code" DisplayField="AML_COUNTRY_Name" runat="server" StringField="FK_AML_COUNTRY_Code, AML_COUNTRY_Name" StringTable="AML_COUNTRY" Label="Nationality" AnchorHorizontal="90%" AllowBlank="false" IsHidden="true"></NDS:NDSDropDownField>
                                </Content>
                            </ext:Panel>
                            <ext:Panel runat="server" ColumnWidth="0.4" Border="false" Layout="AnchorLayout">
                                <Content>
                                    <ext:Button ID="btn_OpenWindowCustomer" runat="server" Icon="ApplicationViewDetail" Text="Data Customer Profile" MarginSpec="0 10 10 0" Hidden="true">
                                        <DirectEvents>
                                            <Click OnEvent="Btn_OpenWindowCustomer_Click">
                                                <EventMask ShowMask="true" Msg="Loading Data..."></EventMask>
                                            </Click>
                                        </DirectEvents>
                                    </ext:Button>
                                    <ext:DateField ID="customer_DOB" AllowBlank="false" LabelWidth="150" runat="server" FieldLabel="Date Of Birth" AnchorHorizontal="100%" Hidden="true" ></ext:DateField>
                                    <ext:TextArea ID="customer_POB" AllowBlank="false" LabelWidth="150" runat="server" FieldLabel="Place Of Birth" AnchorHorizontal="100%" MaxLength="200" EnforceMaxLength="true" Hidden="true" ></ext:TextArea>
                                </Content>
                            </ext:Panel>
                        </Items>
                    </ext:Panel>
                    <NDS:NDSDropDownField ID="cmb_Customer_Type_ID" LabelWidth="200" ValueField="Customer_Type_Code" DisplayField="Description" runat="server" StringField="Customer_Type_Code, Description" StringTable="OneFCC_Question_Customer_Type" Label="Customer Type" AnchorHorizontal="80%" AllowBlank="false" IsReadOnly="true"/>
                    <ext:Checkbox
                        runat="server"
                        ID="checkbox_beneficialowner"
                        FieldLabel="Have Beneficial Owner ?" 
                        Hidden="true"
                        LabelWidth="200">
                        <DirectEvents>
                            <Change OnEvent="Checkbox_click">
                                <EventMask ShowMask="true" Msg="Please Wait..."></EventMask>
                            </Change>
                        </DirectEvents>
                    </ext:Checkbox>
                    <NDS:NDSDropDownField ID="cmb_Customer_Segment_ID" LabelWidth="200" ValueField="Customer_Segment_Code" DisplayField="Description" runat="server" StringField="Customer_Segment_Code, Description" StringTable="OneFCC_Question_Customer_Segment" Label="Customer Segment" AnchorHorizontal="80%" AllowBlank="false"/>
                </Content>
            </ext:Panel>
            
            <ext:FormPanel ID="FormPanelCustomer" BodyPadding="10" runat="server" ClientIDMode="Static" Layout="AnchorLayout" Border="true" ButtonAlign="Center" AutoScroll="true" Hidden="true" Collapsible="true" MarginSpec="0 0 10 0" Title="Questionaire">
                <Items>
                </Items>
            </ext:FormPanel>
            
            <ext:FormPanel ID="FormPanelBenificialOwner" BodyPadding="10" runat="server" ClientIDMode="Static" Layout="AnchorLayout" Border="true" ButtonAlign="Center" AutoScroll="true" Hidden="true" Collapsible="true" MarginSpec="0 0 10 0">
                <Items>
                </Items>
            </ext:FormPanel>
            
            <ext:Panel runat="server" Layout="AnchorLayout" ID="PanelNotes" Hidden="true" Border="false" Title="Notes" ButtonAlign="Left" Collapsible="true" MarginSpec="0 0 10 0" BodyStyle="padding:10px">
                <Content>
                    <ext:TextArea runat="server" ID="txtNotes" AllowBlank="true" AnchorHorizontal="80%" LabelWidth="200" FieldLabel="Notes"/>
                    <%--<ext:FileUploadField runat="server" ID="PanelNotes_File_Attachment" FieldLabel="File Attachment" AnchorHorizontal="80%" AllowBlank="true" LabelWidth="200">
                        <RightButtons>
                            <ext:Button ID="PanelNotes_File_Attachment_btnClear" runat="server" Text="" Icon="Erase">
                                <Listeners>
                                    <Click Handler="#{File_Attachment}.reset();"></Click>
                                </Listeners>
                            </ext:Button>
                        </RightButtons>
                    </ext:FileUploadField>--%>
                    <%--<ext:Button ID="Button2" runat="server" Text="Open 2" OnClientClick="window.open('localhost/goaml/AML/EDD/AML_EDD_Add.aspx?ModuleID=4FSzTgTwYIp5gQkOC9mBMw==&Segement=Normal&Type=Customer&EDD=C', 'myNewWindow2');" />--%>
                    
                    <ext:DisplayField runat="server" ID="File_Attachment"  FieldLabel="File Attachment" AnchorHorizontal="80%" AllowBlank="true" LabelWidth="200"></ext:DisplayField>
                </Content>
                <Buttons>
                    <ext:Button runat="server" ID="BtnFileAttachment" Icon="DiskDownload" Hidden="false" Text="Attach File" MarginSpec="0 0 0 200">
                        <DirectEvents>
                            <Click OnEvent="BtnFileAttachment_Click">
                                <EventMask Msg="Loading..." ShowMask="true"></EventMask>
                            </Click>
                        </DirectEvents>
                    </ext:Button>
                    <ext:Button runat="server" ID="BtnDownloadFile" Icon="DiskDownload" Hidden="true" Text="Download File" >
                        <DirectEvents>
                            <Click OnEvent="DownloadFileUploaded" IsUpload="true" Success="NawadataDirect.DownloadFileUploaded_Direct({isUpload : true});">
                                <EventMask Msg="Loading..." ShowMask="true"></EventMask>
                            </Click>
                        </DirectEvents>
                    </ext:Button>
                </Buttons>
            </ext:Panel>
        </Items>
        <Buttons>
            <ext:Button ID="btn_Generate_Question" runat="server" Icon="ApplicationGo" Text="Generate Question">
                <DirectEvents>
                    <Click OnEvent="btn_Generate_Question_Click">
                        <EventMask ShowMask="true" Msg="Generating Question..."></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
            <ext:Button ID="btn_EDD_Submit" runat="server" Icon="Disk" Text="Submit" Hidden="true" >
                <DirectEvents>
                    <Click OnEvent="btn_EDD_Submit_Click">
                        <EventMask ShowMask="true" Msg="Saving Data..."></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
            <ext:Button ID="btn_EDD_Back" runat="server" Icon="PageBack" Text="Back">
                <DirectEvents>
                    <Click OnEvent="btn_EDD_Back_Click">
                        <EventMask ShowMask="true" Msg="Loading Data..."></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
        </Buttons>
    </ext:FormPanel>
    <ext:FormPanel ID="Panelconfirmation" BodyPadding="20" runat="server" ClientIDMode="Static" Border="false" Frame="false" Layout="HBoxLayout" ButtonAlign="Center" DefaultAnchor="100%" Hidden="true">
        <Defaults>
            <ext:Parameter Name="margins" Value="0 5 0 0" Mode="Value" />
        </Defaults>
        <LayoutConfig>
            <ext:HBoxLayoutConfig Padding="5" Align="Middle" Pack="Center" />
        </LayoutConfig>
        <Items>
            <ext:Label ID="LblConfirmation" runat="server" Align="center" Cls="NawaLabel"></ext:Label>
        </Items>
        <Buttons>
            <ext:Button ID="BtnConfirmation" runat="server" Text="OK" Icon="ApplicationGo">
                <DirectEvents>
                    <Click OnEvent="btn_Confirmation_Click"></Click>
                </DirectEvents>
            </ext:Button>
        </Buttons>
    </ext:FormPanel>

    <%--<ext:Window runat="server" ID="WindowPopUpNote" Maximized="true" Title="Saving With WorkFlow Notes" Modal="true" Layout="FitLayout" ButtonAlign="Center" Hidden="true">
        <Items>
            <%--<ext:TextArea runat="server" ID="txtNotes" Padding="20" AllowBlank="false" BlankText="Correction notes is required" AnchorHorizontal="80%" />--%>
            <%--<ext:TextArea runat="server" ID="txtNotes" Padding="20" AllowBlank="true" AnchorHorizontal="80%" />--%>
        <%--</Items>
        <Buttons>
            <ext:Button runat="server" ID="BtnSaveNotes" Text="Save">
                <DirectEvents>
                    <Click OnEvent="BtnSaveNotes_Click">
                        <EventMask ShowMask="true" Msg="Saving Data..." MinDelay="500"></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
        </Buttons>
        <Listeners>
            <BeforeShow Handler="var size = Ext.getBody().getSize(); this.setSize({ width: size.width * 0.7, height: size.height * 0.7});" />
            <Resize Handler="#{windowpopup}.center()" />
        </Listeners>
    </ext:Window>--%>

    <ext:Window runat="server" ID="WindowPopUpAttachment" Title="Attachment" Layout="AnchorLayout" Width="600" ButtonAlign="Center" Hidden="true" Closable="false">
        <Items>
            <ext:Panel ID="pnlContent" runat="server" BodyPadding="0" MaxHeight="390">
                <Loader Url="AML_EDD_UploadAttachment.aspx" Mode="Frame" NoCache="true" runat="server" AutoLoad="false" >
                    <LoadMask ShowMask="true"></LoadMask>
                    <%--<Params>
                        <ext:Parameter Name="fileName" Mode="Raw" Value="0">
                        </ext:Parameter>
                    </Params>--%>
                </Loader>
            </ext:Panel>
        </Items>
        <Buttons>
            <ext:Button ID="btn_EDD_Attachment_Submit" runat="server" Icon="Disk" Text="Save Attachment" Hidden="true" >
                <DirectEvents>
                    <Click OnEvent="Btn_EDD_Attachment_Submit_Click">
                        <EventMask ShowMask="true" Msg="Saving Data..."></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
            <ext:Button ID="btn_EDD_Attachment_Back" runat="server" Icon="PageBack" Text="Back">
                <DirectEvents>
                    <Click OnEvent="Btn_EDD_Attachment_Back_Click">
                        <EventMask ShowMask="true" Msg="Loading Data..."></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
        </Buttons>
    </ext:Window>
    
    <ext:Window ID="window_Import_Customer" runat="server" Modal="true" Hidden="true" BodyStyle="padding:0px" AutoScroll="true" ButtonAlign="Center" MinHeight="430">
        <Items>
            <ext:GridPanel ID="gp_Import_Customer" runat="server" ClientIDMode="Static">
                <View>
                    <ext:GridView runat="server" EnableTextSelection="true" />
                </View>
                <Store>
                    <ext:Store ID="store_Import_Customer" runat="server" IsPagingStore="true" RemoteFilter="true"  RemoteSort="true" 
                        OnReadData="Store_ReadData_Import_Customer" RemotePaging="true" ClientIDMode="Static" PageSize="10">
                        <Model>
                            <ext:Model runat="server" ID="model_Import_Customer" IDProperty="CIFNo">
                                <Fields>
                                    <ext:ModelField Name="CIFNo" Type="String"></ext:ModelField>
                                    <ext:ModelField Name="CUSTOMERNAME" Type="String"></ext:ModelField>
                                    <ext:ModelField Name="RISK_RATING_NAME" Type="String"></ext:ModelField>
                                </Fields>
                            </ext:Model>
                        </Model>
                        <Sorters></Sorters>
                        <Proxy>
                            <ext:PageProxy />
                        </Proxy>
                    </ext:Store>
                </Store>
                <Plugins>
                    <ext:FilterHeader ID="filterHeader_Import_Customer" runat="server" Remote="true"></ext:FilterHeader>
                </Plugins>
                <ColumnModel>
                    <Columns>
                        <ext:RowNumbererColumn ID="RowNumber_Import_Customer" runat="server" Text="No"></ext:RowNumbererColumn>
                        <ext:Column ID="col_Import_Customer_CIFNo" runat="server" DataIndex="CIFNo" Text="CIF No" Width="150"></ext:Column>
                        <ext:Column ID="col_Import_Customer_CUSTOMERNAME" runat="server" DataIndex="CUSTOMERNAME" Text="Customer Name" Width="150" ></ext:Column>
                        <ext:Column ID="col_Import_Customer_FK_AML_RISK_CODE" runat="server" DataIndex="RISK_RATING_NAME" Text="Risk Rating" Flex="1"></ext:Column>
                        <ext:CommandColumn ID="cc_Import_Customer" runat="server" Text="Action">

                        <Commands>
                            <ext:GridCommand Text="Select" CommandName="Select" Icon="Accept" MinWidth="70">
                                <ToolTip Text="Select"></ToolTip>
                            </ext:GridCommand>
                        </Commands>

                        <DirectEvents>
                            <Command OnEvent="gc_Import_Customer">
                                <EventMask ShowMask="true" Msg="Loading Data..."></EventMask>
                                <ExtraParams>
                                    <ext:Parameter Name="CIFNo" Value="record.data.CIFNo" Mode="Raw"></ext:Parameter>
                                    <ext:Parameter Name="CUSTOMERNAME" Value="record.data.CUSTOMERNAME" Mode="Raw"></ext:Parameter>
                                </ExtraParams>
                            </Command>
                        </DirectEvents>
                    </ext:CommandColumn>
                </Columns>
                </ColumnModel>
                <BottomBar>
                    <ext:PagingToolbar ID="pt_Import_Customer" runat="server" HideRefresh="false" >
                        <Items>  
                            <%--<ext:Button runat="server" Text="Close Picker" ID="Button5">
                                <Listeners>
                                    <Click Handler="#{window_Import_Party}.hide()"> </Click>
                                </Listeners>
                            </ext:Button>--%>
                        </Items>
                    </ext:PagingToolbar>
                </BottomBar>
            </ext:GridPanel>
        </Items>
        <Listeners>
            <BeforeShow Handler="var size = Ext.getBody().getSize(); this.setSize({ width: size.width * 0.95, height: size.height * 0.9});" />
            <Resize Handler="#{window_Import_Party}.center()" />
        </Listeners>
        <Buttons>
            <ext:Button ID="btn_Import_Customer_Back" runat="server" Icon="Cancel" Text="Cancel">
                <DirectEvents>
                    <Click OnEvent="Btn_Import_Customer_Back_Click">
                        <EventMask ShowMask="true" Msg="Loading Data..."></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
        </Buttons>
    </ext:Window>

    <ext:Window runat="server" ID="WindowPopUpDataCustomer" Maximized="true" Modal="true" Layout="FitLayout" ButtonAlign="Center" Title="Data Customer Profile" Hidden="true">
        <Items>
            <%--<ext:Panel ID="pnlContentCustomerProfile" runat="server">
                <Loader Url="CustomerProfileDetail.aspx" Mode="Frame" NoCache="true" runat="server" AutoLoad="false">
                    <LoadMask ShowMask="true"></LoadMask>
                </Loader>
            </ext:Panel>--%>
            <ext:FormPanel ID="FormPanel1" BodyPadding="10" runat="server" ClientIDMode="Static" Border="false" Frame="false" Layout="AnchorLayout" AutoScroll="true">
                <Items>
                    <ext:Panel runat="server" Layout="ColumnLayout" AnchorHorizontal="100%" ID="Panel3" Border="true">
                        <Items>
                            <ext:Panel runat="server" ColumnWidth="0.48" Border="false" Layout="AnchorLayout" BodyPadding="10">
                                <Content>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_CIF" FieldLabel="CIF" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_GCN" FieldLabel="GCN" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_CustomerName" FieldLabel="Customer Name" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                </Content>
                            </ext:Panel>
                            <ext:Panel runat="server" ColumnWidth="0.48" Border="false" Layout="AnchorLayout" BodyPadding="10">
                                <Content>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_DateOfData" FieldLabel="Date of Data" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_LastDueDiligence" FieldLabel="Date Last Due Diligence" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_Status" FieldLabel="Status" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                </Content>
                            </ext:Panel>
                            <%--<ext:Panel runat="server" ColumnWidth="0.33" Border="false" Layout="AnchorLayout" BodyPadding="10">
                                <Content>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_AMLRiskScore" FieldLabel="AML Risk Score" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_AMLRisk" FieldLabel="AML Risk" AnchorHorizontal="80%" LabelWidth="150"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_blank1" FieldLabel="" AnchorHorizontal="80%" LabelWidth="200" LabelSeparator=""></ext:DisplayField>
                                </Content>
                            </ext:Panel>--%>
                        </Items>
                    </ext:Panel>
                    <ext:Panel runat="server" Layout="ColumnLayout" AnchorHorizontal="100%" ID="Panel2" Border="true">
                        <Items>
                            <ext:Panel runat="server" ColumnWidth="0.495" Border="false" Layout="AnchorLayout" BodyPadding="10">
                                <Content>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_DateOfBirth" FieldLabel="Date of Birth" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_PlaceOfBirth" FieldLabel="Place of Birth" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_MotherName" FieldLabel="Mother Name" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_Gender" FieldLabel="Gender" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_MartialStatus" FieldLabel="Martial Status" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_Citizenship" FieldLabel="Citizenship" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_WorkPlace" FieldLabel="Work Place" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_CustomerType" FieldLabel="Customer Type" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_CustomerSubType" FieldLabel="Customer Sub Type" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                </Content>
                            </ext:Panel>
                            <ext:Panel runat="server" ColumnWidth="0.495" Border="false" Layout="AnchorLayout" BodyPadding="10">
                                <Content>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_BusinessType" FieldLabel="Business Type" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_Industry" FieldLabel="Industry" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_OpeningDate" FieldLabel="Opening Date" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_CreationEntity" FieldLabel="Creation Entity" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_CreationBranch" FieldLabel="Creation Branch" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_SalesOfficer" FieldLabel="Sales Officer" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_SourceOfFound" FieldLabel="Source of Found" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_PurposeOfFound" FieldLabel="Purpose of Found" AnchorHorizontal="80%" LabelWidth="200"></ext:DisplayField>
                                    <ext:DisplayField runat="server" ID="CustomerDetail_blank2" FieldLabel="" AnchorHorizontal="80%" LabelWidth="200" LabelSeparator=""></ext:DisplayField>
                                </Content>
                            </ext:Panel>
                        </Items>
                    </ext:Panel>
                </Items>
            </ext:FormPanel>
        </Items>
        <Buttons>
            <ext:Button ID="btn_EDD_CustomerDetail_Back" runat="server" Icon="PageBack" Text="Back">
                <DirectEvents>
                    <Click OnEvent="Btn_EDD_CustomerDetail_Back_Click">
                        <EventMask ShowMask="true" Msg="Loading Data..."></EventMask>
                    </Click>
                </DirectEvents>
            </ext:Button>
        </Buttons>
    </ext:Window>
</asp:Content>

