﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Site1.Master" AutoEventWireup="false" CodeFile="CustomerProfileView.aspx.vb" Inherits="CustomerProfileView" %>

<%@ Register Src="~/Component/NDSGridView.ascx" TagPrefix="uc1" TagName="NDSGridView" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <uc1:NDSGridView runat="server" ID="NDSGridView" 
        
        />
</asp:Content>

