﻿<%@ Page Title="" Language="C#" AutoEventWireup="false" MasterPageFile="~/Site1.Master" CodeFile="Default.aspx.cs" Inherits="Parameter_Default" %>

<%@ Register Assembly="Ext.Net" Namespace="Ext.Net" TagPrefix="ext" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
  
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<ext:DisplayField ID="txtSettingName" runat="server" Text="asasa" FieldLabel="Setting Name">
            </ext:DisplayField>
</asp:Content>


