﻿<%@ page language="VB" autoeventwireup="false" inherits="SamlConsume, App_Web_samlconsume.aspx.cdcab7d2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <script src="Scripts/Form.Master.js"></script>
    <link href="Styles/Site.Master.css" rel="stylesheet" />

    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>

            <ext:ResourceManager ID="ResourceManager1" runat="server" Theme="Crisp" />
            <br />
            <ext:Viewport ID="Viewport1" runat="server" Layout="BorderLayout">

                <Items>
                    <ext:Panel ID="TopPanel" runat="server" Region="North" Title="SSO Authentication">
                        <Items></Items>
                    </ext:Panel>
                   <%-- <ext:Panel ID="MainPanel" runat="server" Region="Center" Title="" >
                          <Listeners>
                            <Resize Handler="#{Window1}.center();" ></Resize>
                        </Listeners>
                        <Items>

                            <ext:window
                                ID="Window1"
                                runat="server"
                                Closable="false"
                                Resizable="false"
                                Height="150"
                                Icon="Lock"
                                Title="Information SSO"
                                Draggable="false"
                                
                                
                                Width="350"
                                Modal="true"
                                BodyPadding="5"
                               
                                Layout="FormLayout">
                           
                              
                                <Items>

                                    <ext:TextField
                                        ID="txtGetName"
                                        runat="server"
                                        FieldLabel="Get user"
                                        AllowBlank="true"
                                        EnableKeyEvents="true"
                                        Text="" Frame="true">
                                    </ext:TextField>
                                </Items>
                                
                            </ext:window>
                        </Items>
                    </ext:Panel>--%>
                </Items>
            </ext:Viewport>
            <br />

        </div>
    </form>
</body>
</html>
